.logo img {
    width: 200px;
}

.header-middle {
    padding: 10px !important;
}

.centrer-contenu {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
}