<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Tableau de bord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' type="text/css" rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>

<body>
    <div class="sidebar  ">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">Tabale B & P</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="./index.html">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Tableau de bord</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Tableau de bord</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="./allCategorie.html">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Catégories</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="./allCategorie.html">Catégories</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="./allProduit.html">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Produits</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="./allCategorie.html">Produits</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="./allCommande.html">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Commandes</span>
                    </a>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="./allCommande.html">Commandes</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="/allAdmin">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Administration</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/allAdmin">Administration</a></li>
                    <li><a href="/allAdmin">Tous les Admin</a></li>
                    <li><a href="/addingAdmin">Ajouter Admin</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="public/image/profile.jpg" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Pisko Beni</div>
                        <div class="job">Administrateur</div>
                    </div>
                    <a href="./login.html"><i class='bx bx-log-out'></i></a>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
        </div>

        <!-- ################ LA PARTIE QUI VA CHANGER ###############################@ -->
        <div class="container container_liste nice_nical_benito">
            <div class="hide" id="add"></div>
            <div class="row ">
                <div class="header_liste d-flex">
                    <div class="d-flex">
                        <i class="bx bx-collection"></i>
                        <h3 class="text_header  ">
                            Liste des Categories
                        </h3>
                    </div>
                    <a href="/addingCategory" class="btn_ajout_item">
                        Ajouter categorie
                    </a>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" width="50">#</th>
                            <th scope="col" width="700">Categorie</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                Nom de la catégorie</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a href="#modif">
                                        <button type="button" class="btn update_btn">Modifier</button></a>
                                    <a href="#supp">
                                        <button type="button" class="btn delete_btn">Supprimer</button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- ################ FIN DE LA PARTIE QUI VA CHANGER ###############################@ -->

    </section>

    <!-- ############### LES POPUPS ######################### -->

    <!-- Modal addCategorie-->
    <div class="modal fade" id="addCategorie" tabindex="-1" role="dialog" aria-labelledby="addCategorieLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/category" enctype="multipart/form-data" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajout de catégorie</h5>
                        <button type="button" class=" " data-dismiss="modal" aria-label=" ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nom de la categorie</label>
                            <input required type="text" class="form-control" name="name" id="name" placeholder="SmartPhone, Drone, Téléviseur">
                        </div>
                        <div class="mb-3">
                            <label for="frame" class="form-label">Image de la categorie</label>
                            <input required type="file" name="frame" class="form-control" id="frame">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn update_btn">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addProduit" tabindex="-1" role="dialog" aria-labelledby="addProduitLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/products" enctype="multipart/form-data" method="post" class="row g-3 long_form">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajout de catégorie</h5>
                        <button type="button" class=" " data-dismiss="modal" aria-label=" ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12">
                            <label for="name" class="form-label">Nom de produit</label>
                            <input required type="text" class="form-control" name="name">
                        </div>
                        <div class="col-md-12">
                            <label for="frame" class="form-label">Image</label>
                            <input required type="file" class="form-control" name="frame">
                        </div>
                        <div class="col-md-12">
                            <label for="image" class="form-label">Autre Images</label>
                            <input type="file" class="form-control" name="images" multiple>
                        </div>
                        <div class="col-md-12">
                            <label for="price" class="form-label">Prix</label>
                            <input required type="number" class="form-control" name="price">
                        </div>
                        <div class="col-md-12">
                            <div class="form-check mt-2">
                                <input type="checkbox" class="form-check-input" id="enPromo">
                                <label for="enPromo" class="form-label">En promotion</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="long" class="form-label">Description</label>
                            <textarea class="form-control" name="long" rows="3"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label for="short" class="form-label">Resume</label>
                            <textarea class="form-control" name="short" rows="3"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label for="quantity" class="form-label">Quantite</label>
                            <input type="number" class="form-control" name="quantity">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn update_btn">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="public/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>